.container {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0px 20px; 
  box-sizing: border-box; 
  @media(min-width: 1440px){
    max-width: 1340px;
  }
}
body{
  margin: 0 !important;
}